*.mk
*.makefile
# *.map
# *.cmd
# *.lst
# *.opt
# *.xdl
# *.xml
# *.gcda
# *.gcno
# *.gcov
# *.elf
# *.axf
# /.metadata/
/*.launches
# *.log
# *.trace
# *.stackdump
# *.bak
# *.tmp
# *.swp
*.cproject
*.project
*.ccsproject
*.settings/
.jxbrowser.userdata/
.metadata/
/Debug/
# **/.clangd/
# **/.clangd/.cache/

# .theia/